# Python class

In [ ]:
123 + 321

# 1. 기본 출력

In [1]:
print('my name is dean')

my name is dean

In [2]:
print('Hello python')

Hello python

In [3]:
print(1, 2, 3)

print('Hello', 'Python')

1 2 3
Hello Python

In [4]:
print('my','name','is','dean')

my name is dean

In [5]:
print( 'i am' , 1 )

i am 1

# 2. 변수와 값 저장

## 2-0 주석(comment)

In [6]:
age = 10 # assign value 10 in age variable.
age = 20 
age = 10

print(age)

10

## 2-1 정수(int) 값 저장

In [7]:
10 == 10

True

In [8]:
age = 20
print(age)

20

In [9]:
age = 20

print('---- Result ----')
print(age)

---- Result ----
20

### i.g 통장에 100만원이 있다. 변수이름은  myAccount로 설정하고 balance를 저장하시오.

In [10]:
myAccount = 1000000

print('---- Result ----')
print(myAccount)

---- Result ----
1000000

## 2-2 실수(float) 값 저장

In [11]:
height = 175.6

print('---- Result ----')
print(height)

---- Result ----
175.6

In [12]:
h1 = 123.2
h2 = 122.5

print(h1)

student = [123.2,122.5]
print(student[0])
print(type(student))

number = list(range(10))
print(student)

print(number)

123.2
123.2
<class 'list'>
[123.2, 122.5]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 2-3 문자열(string) 값 저장

In [13]:
name = 'dean'

print('---- Result ----')
print('my','name is',name)

---- Result ----
my name is dean

In [14]:
city = "seoul"
print("I",'live','in',city)

I live in seoul

## 2-4 논리형(boolean) 저장

In [15]:
isHuman = False #True or False


print('---- Result ----')
print(isHuman)

---- Result ----
False

## 2-5 data type 확인 방법(type)

In [ ]:
print(type(name))

number = 124215
print(type(number))

weight = 63.4456
print(type(weight))

print(type(False))

age = '20'
print(age)

print('age type:',type(age))

age + 20
print(age)

# 3. 사칙연산
 - ppt 참고(11p)

In [17]:
data1 = 3
data2 = 2

print ('---- Result ----')
print (data1 + data2)  # 더하기
print (data1 - data2)  # 빼기
print (data1 * data2)  # 곱하기
print (data1 / data2)  # 나누기
print (data1 ** data2) # 제곱
print (data1 % data2)  # 나머지

---- Result ----
5
1
6
1.5
9
1

## 3-1 괄호 사용하기
 - 우선 순위를 명시적으로 표현

In [18]:
print('1) 35 + 1 * 2')
print(35 + 1 * 2)

print('2) (35 + 1) * 2')
print((35 + 1) * 2)

1) 35 + 1 * 2
37
2) (35 + 1) * 2
72

# 4. 여러 문자열들 연결하기
 - +을 이용

In [19]:
str1 = "Hello"
str2 = "World"

print('---- Result ----')
print(str1 + ' ' + str2)  # 더하기
print(str1,str2)


result = str1 + ' ' + str2
print('result: ',result)

---- Result ----
Hello World
Hello World
result:  Hello World

In [20]:
name = input('Enter a name: ')
base = 'your name is'
age = 10

print(base+name+str(age))

Enter a name:
your name is10

In [ ]:
11:20 Nov 12, 2019 => 정수형 변환 or 문자열

시간 분 초 년 월 일 beginToContact
11 20 00 2019 11 12 M
11 22 32 2019 11 12 F

# 5. 문자열 반복하기
 - escape code ppt 참고(12p)

In [22]:
data = "Hello! \n" # \n은 줄을 바꾸라는 의미
print(data)
print(data)
print(data)
print(data)
print(data)

print('---- Result ----')
print(data * 5)

Hello!

Hello!

Hello!

Hello!

Hello!

---- Result ----
Hello!
Hello!
Hello!
Hello!
Hello!

# 6. 문자열 슬라이싱
 - ppt 참고(13p)

In [23]:
data = "Hello World"


print ('---- Result ----')
print (data)
print (data[0])
print (data[3])
print (data[1:4])
print(data[1:7])
print(data[1:len(data)])
print(data[1:11])
print(data[1:])
len(data)

---- Result ----
Hello World
H
l
ell
ello W
ello World
ello World
ello World

11

In [24]:
height = 172
print(type)

<class 'type'>

### i.g 문자열 슬라이싱 활용

In [25]:
data = "Hello World"

print('---- Result ----')
print(data[0:4]) # Hell
print(data[:5]) # Hello
print(data[6:]) #World
print(data[-1]) #"Hello Worl"

---- Result ----
Hell
Hello
World
d

# 7. 문자열 함수 예제
 - ppt 참고(14p)

In [26]:
sample = " My favorite language is python "

print('---- Result ----')
print(len(sample))
print(sample.count('a'))
print(sample.index('y'))
print(sample.upper())
print(sample.lower())
print(sample.strip())
print(sample.replace("python", "java"))
print(sample.split())

---- Result ----
32
3
2
 MY FAVORITE LANGUAGE IS PYTHON
 my favorite language is python
My favorite language is python
 My favorite language is java
['My', 'favorite', 'language', 'is', 'python']

# 7- 파일 입출력

In [27]:
f = open('./sample.txt','r')
print(type(f))

header = f.readline()
header.split('\n')[0].split()
print(header.split('\n')[0])
print(header.split('\n')[0].split())

line = f.readline()
print(line)
print(line.split())

f.close()

<class '_io.TextIOWrapper'>
시간 분 초 년 월 일 beginToContact
['시간', '분', '초', '년', '월', '일', 'beginToContact']
11:20 Nov 12, 2019 M

['11:20', 'Nov', '12,', '2019', 'M']

In [28]:
f = open('./sample2.txt','w')

f.write('시간 분 초 년 월 일 beginToContact\n')
f.write('11:20 Nov 12, 2019 M')

f.close()

# 8. 데이터 형변환(cast)

## 8-1 정수형, 실수형 -> 문자열 형변환

In [29]:
print('정수형 -> 문자열 (str()함수 사용)')
age = 20
print(age)
print(type(age)) #int

print("--- after casting ---")
aStr =str(age)
print(aStr)

#print(str(age),str(age),str(age),sep="\n")

aStr = aStr + "\n"

print(aStr*3)

for i in list(range(3)):
    print(str(age),sep="\n")
    
print(type(str(age)))
print(type(aStr))

정수형 -> 문자열 (str()함수 사용)
20
<class 'int'>
--- after casting ---
20
20
20
20

20
20
20
<class 'str'>
<class 'str'>

## 8-2 문자열 -> 정수형 (int()) 형변환 , 실수형(float())

In [30]:
print('문자열 -> 정수형 형변환(int() 함수 사용)')
age = '20'
print(age)
print(type(age))

print("--- after casting ---")

print(int(age))
print(type(int(age)))

print("--- after casting ---")

print(float(age))
print(type(float(age)))

문자열 -> 정수형 형변환(int() 함수 사용)
20
<class 'str'>
--- after casting ---
20
<class 'int'>
--- after casting ---
20.0
<class 'float'>

In [31]:
#list, tuple
#문자열 -> 리스트, 튜플
str = "abc"
print(tuple(str))
print(list(str))

('a', 'b', 'c')
['a', 'b', 'c']

In [ ]:
temp = 20.0
print(temp)
aTemp = str(temp) + "00"
print(aTemp)

print(float(aTemp))

## 캐스팅이 필요한 이유

### 오류 상황

In [33]:
age = '20'
parentAge = age + 'num'
print(parentAge)

20num

### 해결방안

In [34]:
age = '20'
parentAge = int(age) + 30
print(parentAge)

50

# 9. 여러 타입 데이터 연결하기

In [ ]:
age = 20        #정수형
name = 'dean'   #문자열
height = 175.6  #실수형

profile = 'my name is ' + name + '. I am ' + str(age) + ' years old and ' + str(height) + ' tall.'

print(profile)

# 10. 논리 연산자

In [36]:
print('--- and operator ---')
print(True and True)
print(True and False)
print(False and True)
print(False and False)

print('--- or operator ---')
print(True or True)
print(True or False)
print(False or True)
print(False or False)

print('--- not operator ---')
print(not True)
print(not False)

--- and operator ---
True
False
False
False
--- or operator ---
True
True
True
False
--- not operator ---
False
True

### i.g complex logical expression

In [37]:
print('not True and False or not False')
print('(not True) and False or (not False)')
print('False and False or True')
print('(False and False) or True')
print('False or True')
print('True')

not True and False or not False
(not True) and False or (not False)
False and False or True
(False and False) or True
False or True
True

# 11 비교 연산자
 - ppt참고(15p)

In [38]:
print(10 > 20) #F
print(10 < 20) #T
print(10 == 20) #F
print(10 != 20) #t

False
True
False
True

# 12 사용자 입력받기
 - input() 사용

In [39]:
input()

''

## 12-1 사용자 입력 저장하기

In [40]:
x = input()
print(x)

### i.g 사용자에게 이름을 입력받아 출력하시오.

In [41]:
name = input()
print('oh, your name is ' + name)

oh, your name is

### i.g 사용자에게 숫자를 입력받아 50을 덧셈하여 출력하시오.

In [ ]:
num = input('Enter a number: ')
result = int(num) + 50
print(result)

### i.g 사용자에게 숫자 2개를 입력받아 더하는 프로그램을 작성하시오.

### 캐스팅이 필요한 이유2

In [43]:
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')
result = num1 + num2

print(result)

Enter first number:
Enter second number:

In [44]:
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')
result = int(num1) + int(num2)

print(result)

Enter first number:
Enter second number:

ValueError: invalid literal for int() with base 10: ''

# 두 변수가 담은 값를 변경해보시오. (변수 하나를 더 이용해서)

In [45]:
a = 10
b = 20

In [46]:
print(a) #10
print(b) #20

10
20

In [47]:
a,b = b,a
print(a)
print(b)

20
10

In [48]:
c = a
a = b
b = c

print(a)
print(b)

10
20